<form [ngFormModel]="form" #f="ngForm" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="current">Current Password</label>
        <input type="text" id="current" class="form-control" ngControl="current" #current="ngForm">
    </div>
    <div
        *ngIf="current.touched && current.errors" 
        class="alert alert-danger">
        <div *ngIf="current.errors.required">
            Current password is required.
        </div>
        <div
            *ngIf="current.errors.validCurrentPassword">
            Current password is invalid.
        </div>
    </div>
    
    <div class="form-group">
        <label for="new">New Password</label>
        <input type="text" id="new" class="form-control" ngControl="new" #new="ngForm">
    </div>
    <div 
        *ngIf="new.touched && new.errors" 
        class="alert alert-danger">
        <div *ngIf="new.errors.required">
            New password is required.
        </div>
        <div
            *ngIf="new.errors.minlength">
            New password should be at least {{ new.errors.minlength.requiredLength }} characters.
        </div>
    </div>
    
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="text" id="confirm" class="form-control" ngControl="confirm" #confirm="ngForm">
    </div>
    <div
        *ngIf="confirm.touched && confirm.errors"
        class="alert alert-danger">
        <div *ngIf="confirm.errors.required">
            Password confirmation is required.
        </div>
    </div>
    <div
        *ngIf="confirm.touched && form.errors && form.errors.passwordsShouldMatch"
        class="alert alert-danger">
        Confirm password should match new password.
    </div>
    
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Change Password</button>
</form>